*{
    padding: 0;
    font-family: 'Nova Square', sans-serif;
    margin: 0;
    box-sizing: border-box;  
}




main {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
}

section {
    scroll-snap-align: start;
    height: 100vh;
}



.seccion1{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(230deg, #7f704d 0, #7f6a46 8.33%, #7f6440 16.67%, #7e5d39 25%, #7e5533 33.33%, #7d4c2d 41.67%, #7b4227 50%, #793823 58.33%, #772d21 66.67%, #762220 75%, #741621 83.33%, #720623 91.67%, #6f0027 100%);
    display: grid;
    position: relative;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    padding: 0 19%;
    }

    .saludo h1{
        font-size: 6vh;
        line-height: 1.3;
        margin:0 0 45px ;
        color: #d5dcdc;
    }

    .saludo h2{
        font-size: 4vh;
        margin-bottom: 20px;
        font-weight:500;
        color: #d5dcdc;
    }

    .logoBanco img{
        
    }
.seccion2 {
    /*background-image: linear-gradient(180deg, #4f3f66 0, #3b2e5f 25%, #1f1f59 50%, #001253 75%, #00004e 100%);*/
    background-image: radial-gradient(circle at 98.16% 50%, #49484c 0, #060621 50%, #000000 100%);
    
}

.seccion2 h1{
    text-align: center;
    font-size: 6vh;
    padding-top: 1.4em;
    padding-bottom: 3.5em;
    color: rgb(225, 220, 220);
}

.contenedor{

    min-width: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetaCredito{
    width:52.46vh;
    height:31.47vh;
    color: #fff;
    cursor:pointer;
    perspective: 1000px;
   
}


.PartesTarjeta{
    width: 100%;
    height: 100%;
    position: relative;
    transition:transform 4s;
    transform-style: preserve-3d;
 
  

}
.TarjetaFrente, .TarjetaDetras{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg,#c7b300,#ff2c7d);
    position:absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
    backface-visibility:hidden ;
    
    
}

.filaFotos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.mapa{
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index:-1 ;

}

.numero-tarjeta{
    font-size:3vh;
    margin-top:6.29vh ;
}
.nombre-validez{
    font-size:1.5vh;
    margin-top:4.19vh ;

}
.datos{
    font-size:2.38vh ;
    margin-top:2.09vh ;
}



.barra{
    background-color: #060621;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}
.iban{
    margin-top: 20px;
}

.iban div{
    flex: 1;
}
.iban img{
    width: 100%;
    display: block;
    line-height: 0;
}

.iban p{
    background:#fff;
    color:#000000;
    font-size:1.04vh ;
    padding: 10px 20px;
}

.firma{
    margin-top: 90px;

}
.TarjetaDetras{
   transform: rotateY(180deg); 
}

.tarjetaCredito:hover .PartesTarjeta{
    transform: rotateY(-180deg); 
}

.seccion3{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(185deg, #666249 0, #62593c 16.67%, #5e502e 33.33%, #59451f 50%, #553a11 66.67%, #512f03 83.33%, #4f2500 100%);
}

.seccion3 .hola{
    
}
.menu{
    position:relative;
    width:280px ;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transition-delay:calc(0.2s * var(--i));
    transform-origin: 140px;

    transform: rotate(0deg) translateX(110px);
}

.menu.active li{
    transform: rotate(calc(360deg / 4 * var(--i) )) 
    translateX(0px);
}
.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    color:var(--clr) ;
    border: 2px solid var(--clr);
    border-radius:50% ;
    font-size: 2.5em;
    transform: rotate(calc(360deg / -4 * var(--i) )) 
}

.menu li a:hover{
    background: var(--clr);
    color: #333;
    box-shadow:2px 5px 30px 10px var(--clr);
}
.menu .boton{
    position: absolute;
    width: 75px;
    height: 75px;
    background: #2f363e;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
    font-size: 3.5em;
    transition: transform 1.25s;
}

.menu.active .boton{
    transform: rotate(315deg);
}







/* Resto del CSS ... */

/* Media Query para dispositivos más pequeños */
@media only screen and (max-width: 768px) {
    .seccion1 {
        grid-template-columns: 1fr; /* Cambiado para dispositivos más pequeños */
        gap: 1rem;
        padding: 0 10%; /* Ajuste para dispositivos más pequeños */
    }

    .saludo h1 {
        font-size: 4vh; /* Ajuste para dispositivos más pequeños */
        margin-bottom: 20px; /* Ajuste para dispositivos más pequeños */
    }

    .saludo h2 {
        font-size: 3vh; /* Ajuste para dispositivos más pequeños */
    }
    .contenedor {
        min-width: auto; /* Elimina la restricción mínima de ancho */
    padding: 0 10px; /* Reduzco el relleno del contenedor para adaptarse a pantallas más pequeñas */
    display: flex; /* Utilizo flexbox para centrar la tarjeta */
    align-items: center; /* Centra la tarjeta verticalmente */
    justify-content: center; /*
         /* Reduzco el relleno del contenedor para adaptarse a pantallas más pequeñas */
    }

    .logoBanco img {
        max-width: 100%; /* Ajuste para dispositivos más pequeños */
    }

    .seccion2 h1 {
        font-size: 4vh; /* Ajuste para dispositivos más pequeños */
        padding-top: 1em;
        padding-bottom: 2em; /* Ajuste para dispositivos más pequeños */
    }
    .seccion2 {
        overflow: hidden; /* Oculta cualquier contenido que se desborde de la sección */
    }
    .tarjetaCredito {
        width: 80vw; /* Ajusta el ancho según tus preferencias */
    max-width: 80vw; /* Limita el ancho máximo para que no exceda el ancho de la pantalla en dispositivos más pequeños */
    height: auto; /* Ajuste para dispositivos más pequeños */
    perspective: 600px;
    }
    .PartesTarjeta {
        flex-direction: column; /* Cambio la dirección del flexbox a columna para apilar los elementos verticalmente */
    }

    .TarjetaFrente, .TarjetaDetras {
        width: 80vw; /* Ajusta el ancho según tus preferencias */
        max-width: 80vw; /* Limita el ancho máximo para que no exceda el ancho de la pantalla en dispositivos más pequeños */
        height: auto; /* Ajuste para dispositivos más pequeños */
        perspective: 1000px; /* Ajuste para dispositivos más pequeños */
    }


    .numero-tarjeta {
        font-size: 2.5vh; /* Ajuste para dispositivos más pequeños */
        margin-top: 5vw; /* Ajuste para dispositivos más pequeños */
    }

    .nombre-validez {
        font-size: 1.5vh; /* Ajuste para dispositivos más pequeños */
        margin-top: 3.5vw; /* Ajuste para dispositivos más pequeños */
    }

    .datos {
        font-size: 2vh; /* Ajuste para dispositivos más pequeños */
        margin-top: 2vw; /* Ajuste para dispositivos más pequeños */
    }

    .barra {
        height: 4vh; /* Ajuste para dispositivos más pequeños */
        margin-top: 1.5vw; /* Ajuste para dispositivos más pequeños */
    }

    .iban {
        margin-top: 2.5vw; /* Ajuste para dispositivos más pequeños */
    }

    .firma {
        margin-top: 4vw; /* Ajuste para dispositivos más pequeños */
    }
    
}
